option_settings:
  - namespace: 'aws:elasticbeanstalk:container:php:phpini'
    option_name: document_root
    value: /web
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_copy_installphp.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bas
      /bin/cp /var/app/current/config/install.php /var/app/current/web/wp/wp-admin/install.php
